*{
  font-family: "Oswald";
}

header{
  text-align: center;
  margin-top: 60px;
}

h1 {
  text-align: center;
}

#reservation_container{
  border: 2px solid black;
  border-radius: 10px;
}

#review{
  font-size: 20px;
}

#review_container{
  text-align: right;
}

#background{
  background-color: #fe8277;
}

#monks_pic{
  border-radius: 0px;

}


#reservation_container {
  height: 40vh;
  margin-top: 30px;
  position: relative;
}

.reservation-form {
  position: absolute;
  top: 75%;
  transform: translateY(100%);
}
